* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
}
body .mui-content {
  background-color: #fff;
}
ul li {
  list-style: none;
}
.my-header {
  background: #006699;
}
.my-header h1 {
  color: #fff;
}
.my-header a {
  color: #fff;
}
.my-footer {
  background-color: #006699;
}
.my-footer .mui-tab-item {
  color: #fff;
}
.my-footer .mui-tab-item.mui-active {
  color: darkorange;
}
.nav-links {
  padding: 10px;
}
.nav-links a {
  width: 33.33333333%;
  float: left;
}
.nav-links a img {
  width: 100%;
  display: block;
}
.brand {
  padding: 0 10px;
}
.brand .title {
  width: 100%;
}
.brand ul {
  padding: 10px 0;
}
.brand ul li {
  width: 25%;
  float: left;
  list-style: none;
}
.brand ul li a {
  display: block;
}
.brand ul li a img {
  width: 100%;
}
.product {
  padding: 0 10px;
}
.product .title {
  width: 100%;
}
.product ul li {
  width: 50%;
  float: left;
  padding: 5px;
}
.product ul li a {
  display: block;
  padding: 5px;
  box-shadow: 0 0 5px #ccc;
  color: gray;
}
.product ul li a img {
  width: 100%;
}
.product ul li a .name {
  display: block;
  height: 36px;
  line-height: 18px;
  overflow: hidden;
  padding-left: 5px;
  font-size: 14px;
}
.product ul li a p {
  margin-top: 5px;
  text-align: center;
}
.product ul li a p span:first-child {
  color: red;
  margin-right: 5px;
}
.product ul li a p span:last-child {
  margin-left: 5px;
  text-decoration: line-through;
}
.product ul li a .buy-now {
  display: block;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background: #069;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  margin: 0 auto 5px;
}
