.getCode {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #006699;
}
.login-now {
  margin-right: 10px;
  float: right;
  margin-top: 5px;
  color: #006699;
}
