<!-- 导入头部的代码 -->
<%- include("../layout/header.ejs")  %>

<div class="container">
    <h2>发表文章页</h2>
    <hr>

    <form id="form">
        <!-- 写一个隐藏文本来存放用户id,防止出现Session过期的问题 -->
        <input type="hidden" name="authorid" value="<%= user.id %>">
        <div class="form-group">
            <label for="title">文章标题</label>
            <input type="text" name="title" id="title" class="form-control input-lg" placeholder="请输入文章标题" required
                value="ls">
        </div>

        <div class="form-group">
            <label for="content">文章内容</label>
            <textarea name="content"  id="content">
            </textarea>
        </div>

        <div class="form-group navbar-right">
            <input type="submit" value="发表文章" class="btn btn-primary btn-md ">
        </div>
    </form>
</div>

<!-- 导入底部 -->
<%- include("../layout/footer.ejs")  %>
<script>
    // 创建 Mditor 实例
    var mditor = Mditor.fromTextarea(document.getElementById('content'));

    //获取或设置编辑器的值
    mditor.on('ready', function () {
        // console.log(mditor);
        mditor.value = '';
    });

    //表单提交事件发送ajax
    $("#form").on("submit",function(e) {
        //阻止表单的自动提交事件
        e.preventDefault();
        
        $.ajax({
            type:"post",
            url: "/article/add",
            data: $("#form").serialize(),
            success: function(result) {
                if(result.statu == 200) {
                    location.href = "/article/info/"+result.data.insertId;
                }
            }
        })
    })
</script>