<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="css/base.css">
    <script src="assets/zepto/zepto.min.js"></script>
    <script src="assets/artTemplate/template-native.js"></script>
    <script src="assets/mui/js/mui.min.js"></script>
    <script src="js/city.js"></script>
    <link rel="stylesheet" href="./assets/fontAwesome/css/font-awesome.css">
    <link rel="stylesheet" href="./assets/mui/css/mui.picker.css">
    <link rel="stylesheet" href="./assets/mui/css/mui.poppicker.css">
    <script src="./assets/mui/js/mui.picker.js"></script>
    <script src="./assets/mui/js/mui.poppicker.js"></script>
    <link rel="stylesheet" href="./css/base.css">
    <script src="js/public.js"></script>
    <script src="./js/addAdress.js"></script>
</head>

<body>
    <header class="mui-bar mui-bar-nav my-header">
        <h1 class="mui-title">我的收货地址</h1>
        <a class="mui-icon mui-icon-search mui-pull-right"></a>
    </header>
    <nav class="mui-bar mui-bar-tab my-footer">
        <a class="mui-tab-item" href="index.html">
            <span class="mui-icon mui-icon-home"></span>
            <span class="mui-tab-label">首页</span>
        </a>
        <a class="mui-tab-item" href="category.html">
            <span class="mui-icon mui-icon-bars"></span>
            <span class="mui-tab-label">分类</span>
        </a>
        <a class="mui-tab-item" href="cart.html">
            <span class="mui-icon fa fa-shopping-cart"></span>
            <span class="mui-tab-label">购物车</span>
        </a>
        <a class="mui-tab-item" href="user.html">
            <span class="mui-icon mui-icon-person"></span>
            <span class="mui-tab-label">会员中心</span>
        </a>
    </nav>
    <div class="mui-content">
        <form class="mui-input-group edit">
            <!-- 坑 -->
        </form>
    </div>
    <script type="text/template" id="editTpl">
        <div class="wrong" style="height: 15px;text-align: center;color: red">  </div>
            <div class="mui-input-row">
                <input value="<%= recipients %>" name="recipients" type="text" class="mui-input-clear" placeholder="请输入收货人姓名">
            </div>
            <div class="mui-input-row">
                <input value="<%= postCode %>" name="postcode" type="text" class="mui-input-clear" placeholder="请输入邮政编码">
            </div>
            <div class="mui-input-row">
                    <input value="<%= address %>" id="selectCity"  name="address" type="text" class="mui-input-clear" placeholder="请选择省市区" readonly>
            </div>
            <div class="mui-input-row">
                    <input value="<%= addressDetail %>"  name="addressDetail" type="text" class="mui-input-clear" placeholder="请输入详细地址">
            </div>
            <div class="mui-button-row">
                <button id="go" type="button" class="mui-btn mui-btn-primary">确认</button>
            </div>
    </script>
</body>

</html>